body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.container-fluid {
  min-height: 100vh;
  background-color: rgb(226, 0, 116);
  padding: 0 0 1rem 0 !important;
}

.home-container {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.label-input {
  background-color: #cfd1d2 !important;
}

.button-dark {
  background-color: rgb(226, 0, 116) !important;
  border-color: rgb(226, 0, 116) !important;
  font-weight: 600 !important;
}

.button-light {
  background-color: #eeeeee !important;
  color: black !important;
  border: 1px solid black !important;
  font-weight: 600 !important;
}

.dropdown-toggle {
  background-color: rgb(226, 0, 116) !important;
  color: white;
}

.navbar {
  background-color: #eeeeee !important;
}

.navbar-nav a {
  border: 1px solid black;
  font-weight: 600;
  color: black !important;
}

.form-label {
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 0.45rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(27, 27, 27, 0.4);
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.lds-default {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
  background-color: rgb(226, 0, 116);
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.mu-hidden {
  display: none;
}

/* Adding scroll to the form */
/* @media only screen and (max-width: 900px) {
  .container {
    width: 100% !important;
  }
  .save-sku-card {
    height: 100% !important;
  }
}

@media only screen and (min-width: 901px) {
  .container {
    width: 100% !important;
  }
} */

.container {
  color: white;
}

.table {
  white-space: nowrap;
}

.preview-table {
  overflow: scroll;
  scroll-behavior: smooth;
  height: 420px;
}

.filter-dropdown {
  display: inline-block;
  margin-left: 0.6rem;
}

.navbar-search {
  width: auto !important;
}

.navbar-search input {
  border-radius: 20px;
  border: 1px solid black;
}

.form-control:focus {
  box-shadow: none !important;
  border: 1px solid black !important;
}

.search-icon {
  border-bottom-right-radius: 50% !important;
  border-top-right-radius: 50% !important;
  border: 1px solid black !important;
}

.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: rgb(226, 0, 116) !important;
}


/* Login form */
.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 5rem;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
